.home-page {
  background-color: rgb(193, 215, 235);
  min-height: 100vh;
  max-height: fit-content;
  padding: 50px;
}
.store-name {
  color: rgb(4, 0, 245);
  font-size: 35px;
}
.store-name-span {
  font-size: 25px;
}
.list {
  list-style-type: none;
  overflow-y: auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.list-space {
  background-color: rgb(186, 252, 230);
  border-radius: 10px;
}
